<body>
    <section>
      <div class="row g-0">
        <div class="form">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
          <div class=" =px-lg-5 pt-lg-4 pb-lg-3 p-4"></div>
          <h1 class="text-light">Registro de cita</h1>
          <form class="Citas">
            <div>
              <label for="Cliente"> Cliente</label>
              <input type="text" id = "cliente"/>
              <label for="Cliente"> Placa de vehiculo</label>
              <!-- Input para la placa -->
              <input type="text" id="Placa"/>
            </div>  
            <div>
              <!-- Lista desplegable para alos servicios brindados -->
              <label for= "Servicios"> Seleccione el servicio que desea: </label>
              <select name="Servicios" id="Servicios">
                <option value= "CA"> Cambio de aceite</option>
                <option value= "AL"> Alineado</option>
                <option value= "TR"> Tramado</option>
                <option value= "MR"> Mecanica rapida</option>
                <option value= "RC"> Reparacion caja de cambio</option>
              </select> 
            </div>  
            <div>
              <!-- Lista despegabl para las sucursales -->
              <label for= "Sucursal"> Seleccione la sucursal de su preferencia: </label>
              <select name="Sucursal" id="Sucursal">
                <option>Cartago Centro</option>
                <option>Oreamuno de Cartago</option>
                <option> Pinares Curridabat</option>
                <option>Rio Oro Santa Ana</option>
                <option> Ciudad de Panamá</option>
              </select>
            </div>
            <button class="Boton">Agendar cita</button>
          </form>
        </div>
    </div>
        <div class="col-lg-3">
        </div>
      </div>
    </section>
  </body>